{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Detalles del cliente</h1>
    <p>NIT: {{ cliente.identificacion }}</p>
    <p>Razon Social: {{ cliente.nombre }}</p>
    <p>Direccion: {{ cliente.direccion }}</p>
    <p>Ciudad: {{ cliente.ciudad }}</p>
    <p>Email: {{ cliente.email }}</p>
    <p>Telefono: {{ cliente.direccion }}</p>
    <p>Ciudad: {{ cliente.ciudad }}</p>

    <h2>Usuarios Asociados</h2>
    {% for cuenta in users %}
        <p>{{cuenta}}</p>
    {% endfor %}

    <h2>Sucursales</h2>
    {% for sucursal in sucursales %}
        <p>{{sucursal}}</p>
    {% endfor %}

{% endblock content %}
