<nav
  class="navbar navbar-expand-md navbar-expand-lg top-navbar"
  data-toggle="sticky-onscroll"
>
  <a class="navbar-brand" href="{% url 'welcome' %}">
    <img
      src="https://i.ibb.co/BNKMsn3/imageonline-co-transparentimage.png"
      alt="Imagen"
      width="120"
      height="120"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="true"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div
    class="navbar-collapse justify-content-end collapse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav ml-auto">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'welcome' %}">Home</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated and not user.propietario_cliente and not user.propietario_mensajero %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated and not user.propietario_cliente and not user.propietario_mensajero %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mensajeros' %}">Mensajeros</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated and user.propietario_cliente %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sucursales' %}">Sucursales</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated and not user.propietario_cliente and not user.propietario_mensajero %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">Usuarios</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated and user.propietario_cliente or user.propietario_mensajero %}
      <li class="nav-item">
        <a class="nav-link" href="#">Pedidos</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
      </li>
      {% endif %} 
      
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="btn" href="{% url 'logout' %}">Cerrar Sesion</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
