/* estilos generales: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* estilos para el navbar */
  
  .navbar {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar .container {
    margin: 0;
  }
  
  .navbar .nav-link {
    padding: 0;
  }
  
  .navbar .navbar-brand {
    padding-left: 5rem;
  }
  
  #navbarSupportedContent {
    padding-right: 5rem;
  }
  
  .active {
    border-bottom: 0.1rem solid #d6af81;
  }
  
  .navbar .btn {
    background-color: #d6af81;
    color: white;
  }
  
  .navbar .btn:hover {
    background-color: black;
    color: white;
  }
  
  @media (max-width: 1370px) {
    .navbar .navbar-brand {
      padding-left: 0rem;
    }
    
    #navbarSupportedContent {
      padding-right: 0rem;
    }
  
    .nav-item{
      font-size: 1rem;
    }
  
    .nav-item .btn{
      font-size: 1rem;
    }
  }
  
  
  @media (max-width: 1040px) {
    .nav-item{
      font-size: .7rem;
    }
  
    .nav-item .btn{
      font-size: 0.7rem;
    }
  
  }
  
  @media (max-width: 833px) {
    .nav-item{
      font-size: 0.4rem;
    }
    .nav-item .btn{
      font-size: 0.4rem;
    }
  
  }